body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f0f0f0, #d3d3d3);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o conteúdo */
}

.menu-title {
    font-size: 24px; /* Tamanho do título */
    margin-bottom: 20px; /* Espaço abaixo do título */
    color: #333; /* Cor do texto */
    font-weight: bold; /* Negrito para destaque */
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 15px; /* Aumentei o espaçamento entre os itens */
}

.menu li a {
    display: block;
    padding: 15px; /* Aumentei o padding para os itens ficarem maiores */
    text-decoration: none;
    color: #333;
    background-color: #e0e0e0;
    border-radius: 5px;
    text-align: center;
    font-size: 18px; /* Aumentei o tamanho da fonte */
    transition: background-color 0.3s ease;
}

.menu li a:hover {
    background-color: #d3d3d3;
}

/* Responsividade */
@media (max-width: 600px) {
    .menu-container {
        width: 90%;
    }
    .menu-title {
        font-size: 20px; /* Ajuste o tamanho do título para telas menores */
    }
    .menu li a {
        font-size: 16px; /* Ajuste o tamanho da fonte para telas menores */
    }
}