<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\static\css\index.css">
</head>
<body>
    <div class="menu-container">
        <h1 class="menu-title">Coordenadoria de Estudos de Redes de Logística</h1>
        <ul class="menu">
            <li><a href="{{url_for('siga.rota1')}}">Fornecedores</a></li>
            <li><a href="acompanhamento-siga.html">Acompanhamento SIGA</a></li>
            <li><a href="financeiro.html">Financeiro</a></li>
        </ul>
</body>
</html>