<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pncp.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <!-- Exibir as mensagens de flash (se existirem) -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="flash-message {% if category == 'error' %}error-message{% else %}success-message{% endif %}">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <!-- Formulário -->
        <div class="form-container">
            <h2>Consulta PNCP</h2>

            <form  action="{{ url_for('siga.fornecedores', _external=True) }}" method="POST">
                <label for="nome">Pesquise no PNCP:</label>
                <div class="ajustando-sugestoes">
                    <input class="teste" type="text" id="nome" name="empresa" placeholder="Digite o termo chave" style="width: 100%;">
                    <div id="suggestions" class="suggestions-box"></div>
                </div>
                

                <button type="submit">Enviar</button>
                <a href="{{ url_for('hello', _external=True) }}" class="back-button">Voltar ao Menu</a>
            </form>

    

    </div>
</body>
</html>