<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pncp.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Consulta PNCP</h2>

            <form  action="{{ url_for('siga.financeiro_siga', _external=True) }}" method="POST">
                <label for="nome">Pesquise no PNCP:</label>
                <div class="ajustando-sugestoes">
                    <input class="teste" type="text" id="nome" name="termo" placeholder="Digite o termo chave" style="width: 100%;">
                    <div id="suggestions" class="suggestions-box"></div>
                </div>
                

                <button type="submit">Enviar</button>
                <a href="{{ url_for('hello', _external=True) }}" class="back-button">Voltar ao Menu</a>
            </form>

    </div>

    {% if total_pncp %}
    <div id="resumo-box" class="resumo-container">
        <button class="close-btn" onclick="document.getElementById('resumo-box').style.display='none';">✖</button>
        <h4>Total de contratos encontrados com o termo <strong>'{{termo}}'</strong></h4>
        <div class="resumo-content">
            <p><strong>Total de contratos encontrados:</strong> {{ total_pncp }}</p>
        </div>

        <!-- Botão para baixar o Excel -->
        <div class="download-container">
            <a href="{{ url_for('siga.excel_download_pncp', termo = termo) }}" class="btn-download">
                Baixar Excel
            </a>
        </div>
    </div>
    {% endif %}

</body>
</html>